@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E9540E !important;
  --foreground: #f9fafb;
}

body {
  background: linear-gradient(135deg, #F2600F 0%, #C93A0C 100%);
  color: var(--foreground);
  min-height: 100vh;
}